
<style>
    .image-gallery { column-count: 4; }
    img { width: 100%; height: auto; padding: 10px; }
</style>

<div class="image-gallery">
    {% for file in site.static_files %}{% if file.path contains include.folder %}{% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}{% assign filenameparts = file.path | split: "/" %}{% assign filename = filenameparts | last | replace: file.extname,"" %}
    <a href="{{ file.path | replace: "/mini/", "/full/" | relative_url }}" title="{{ filename }}"><img src="{{ file.path | relative_url }}" alt="{{ filename }}"/></a>
    {% endif %}{% endif %}{% endfor %}
</div>
