// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

@font-face {
    font-family: 'IBMVGA8';
    src: url(./fonts/PxPlus_IBM_VGA8.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {        
    background-color: black;
}

html, body, footer {
    /* Oldschool font (IBM VGA8) */
    font-family: IBMVGA8, monospace;
    font-size: 16px;
    color: #999;
    
    line-height: 1;
    
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

a {
    color: #0aa;
    text-decoration: none;
}

a:hover {
    color: #ff5;
    text-decoration: none;
}

a:visited {
    color: #0aa;
}

hr {
    padding: 0;
    margin: 7px 0 8px 0;
    height: 1px;
    background-color: #333;
    border-width: 0;
}

h3 {
    font-size: 16px;
    font-weight: normal;
    color: #0a0; /* Green */
}

pre, textarea {
    display: block;
    margin: 0 0 10px;
    
    font-size: 13px;

    word-break: break-all;
    word-wrap: break-word;
    
    background-color: #0C0C0C;
    color: #717171;
    
    /* New line when the line length is superior to the pre width */
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

code {
    font-size: 13px;

    word-break: break-all;
    word-wrap: break-word;
    
    background-color: #0C0C0C;
    color: #717171;
    
    /* New line when the line length is superior to the pre width */
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

button, input {
    font-family: IBMVGA8, monospace;
    font-size: 16px;
    color: #999;    
    text-align: center;
    
    background-color: black; /* Force background color */
    
    border-width: 1px;
    border-style: solid;
    border-color: #333;
    
    padding: 10px;
    margin: 10px;
}

button:hover {    
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

.site-header {
    border-top: none;
    border-bottom: none /* 1px solid #333 */;
}

.site-title, .site-title:visited {
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: initial;
    color: #0aa;
}

.site-nav .page-link {
    color: #0aa;
}

.site-footer {
    border-top: none /* 1px solid #333 */;
}

.post-meta {
    font-size: inherit;
    margin-bottom: 0px;
    margin-top: 0px;
}

.post-title, .post-content h1 {
    font-size: inherit;
    letter-spacing: inherit;
}

.post-title {
    border: none;
}

.post-content h3 {
    font-size: inherit;
}

.highlight {
    background-color: #0C0C0C;
    border: none;
}

.highlighter-rouge .highlight {
    background-color: #0C0C0C;
}

.footer-col-wrapper, .social-links {
    font-size: inherit;
}

.social-media-list li a, .pagination li a {
    border: none;
}

::-webkit-scrollbar {
    width: 10px;
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #181818;
}